* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  /* overflow: hidden;
  background-image: url("assests/ef9860e7662cb6c4fae2fe245028f04e.jpg"); 
  background-repeat: no-repeat;
  background-size: cover; */
}


.hero {
  width: 90%;
  min-height: 90vh;
  margin: 5vh auto;
  background-image: url("assests/landing.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
  padding: 30px 60px;

  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

/* ===== NAVBAR ===== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 120px;
}

.logo img {
  width: 100%;
}

.navbar nav {
  display: flex;
  gap: 25px;
}

.navbar nav a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  font-weight: bold;
}

.btn{
  display: inline-block;
  width: 20%;
  height: 5%;
  margin-top: 20%;
  margin-left: 7%;
  background-color: rgb(208, 208, 246);
  border-radius: 10px;
  text-align: center;
  line-height: 40px; 
  text-decoration: none;
  color: black;
  font-weight: bold;
}

@media (max-width: 768px) {

  .hero {
    width: 95%;
    padding: 20px;
  }

  .navbar {
    flex-direction: column;
    gap: 15px;
  }

  .navbar nav {
    gap: 15px;
  }

  .logo {
    width: 90px;
  }

  .btn {
    align-self: center;
    padding: 10px 30px;
  }
}


