:root {
    --bg-color: #e6eeff;
    --card: white;
    --text-black: black;
    --text-white: white;
    --text-gray: gray;
    --border: lightgray;
    --primary: #155dfc;
    --secondary: #1447e6;
    --error: #dc2626;
    --error-light: #ffe4e4;
    --correct: #16a34a;
    --correct-light: #d9ffe4;
    --score: #e9f0ff;
}

/* ================= DARK MODE ================= */
body.dark {
    /* :root { */
    --bg-color: #0f0f10;
    --card: #1a1a1c;
    --text-black: #f5f5f5;
    --text-white: #0f0f10;
    --text-gray: #a1a1aa;
    --border: #2a2a2e;
    --primary: #155dfc;
    --secondary: #1447e6;
    --error: #f87171;
    --correct: #4ade80;
}

body {
    height: 98vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    /* box-sizing: border-box; */
    /* margin: 20px; */
    background-color: var(--bg-color);
    color: var(--text-black);
}




.main-text {
    text-align: center;
    padding-bottom: 20px;
    color: var(--text-black);
}

.main-text p,
h2 {
    padding: 5px;
    margin: 0px;
}

.scores-container {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



.overview-buttons a{
    text-decoration: none;

}







