:root {
    --bg-color: #e6eeff;
    --card: white;
    --text-black: black;
    --text-white: white;
    --text-gray: gray;
    --border: lightgray;
    --primary: #155dfc;
    --secondary: #1447e6;
    --error: #dc2626;
    --error-light: #ffe4e4;
    --correct: #16a34a;
    --correct-light: #d9ffe4;
    --score: #e9f0ff;
}

/* ================= DARK MODE ================= */
body.dark {
    /* :root { */
    --bg-color: #0f0f10;
    --card: #1a1a1c;
    --text-black: #f5f5f5;
    --text-white: #0f0f10;
    --text-gray: #a1a1aa;
    --border: #2a2a2e;
    --primary: #155dfc;
    --secondary: #1447e6;
    --error: #f87171;
    --correct: #4ade80;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    /* box-sizing: border-box; */
    /* margin: 20px; */
    background-color: var(--bg-color);
    color: var(--text-black);
}

main,
.answers-overview {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    padding: 20px;
    margin-top: 20px;
    align-self: center;
    box-sizing: border-box;
    border: 2px solid var(--border);
    border-radius: 12px;
    background-color: var(--card);
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.05),
        0 10px 20px rgba(0, 0, 0, 0.08),
        0 20px 40px rgba(0, 0, 0, 0.10);
}

.trophy-container {
    max-width: 60px;
    margin: 0px auto;
}

.trophy-container img {
    width: 100%;
}

.main-text {
    text-align: center;
    padding-bottom: 20px;
    color: var(--text-black);
}

.main-text p,
h2 {
    padding: 5px;
    margin: 0px;
}

.scores-container {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.score-overall,
.correct-answers,
.wrong-answers {
    width: 100%;
    max-width: 200px;
    text-align: center;
    /* flex-direction: column; */
    /* justify-content: center; */
    color: black;
    border-radius: 10px;
    padding: 5px 5px;
    /* flex-grow: 1px; */
}

.score-overall span,
.correct-answers span,
.wrong-answers span {
    display: block;
    padding: 5px 0px;
}

.score-overall {
    background-color: var(--score);
}

.correct-answers {
    background-color: var(--correct-light);
}

.wrong-answers {
    background-color: var(--error-light);
}

#correct-score {
    color: var(--correct);
    font-size: 30px;
}

#wrong-score {
    color: var(--error);
    font-size: 30px;

}

#overall-score {
    color: var(--primary);
    font-size: 30px;

}

.overview {
    text-align: center;
}

.overview-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

#home-button,
#leaderboard-button {
    padding: 5px 10px;
    border-radius: 7px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;

}

#home-button {
    color: var(--text-black);
    background-color: var(--card);
    border: 1px solid var(--border);
}

#home-button:hover {
    cursor: pointer;
    background-color: var(--border);
}

#home-button:active {
    background-color: var(--card);
}

#leaderboard-button {
    color: white;
    background-color: var(--primary);
    border: 1px solid var(--border);
}

#leaderboard-button:hover {
    cursor: pointer;
    background-color: var(--secondary);
}

#leaderboard-button:active {
    background-color: var(--primary);
}

#home-button div,
#leaderboard-button div {
    max-width: 20px;
    /* margin: 0px auto; */
}

#home-button div img,
#leaderboard-button div img {
    width: 100%;
}

.overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--score);
    margin: 20px 0px;
    padding: 20px;
    border-radius: 10px;
}

.overview h5 {
    margin: 0px;
    padding-bottom: 20px;
}

.overview .pie-chart {
    width: 150px;
    height: 150px;
    /* align-self: center; */
    /* max-width: 200px; */
    /* max-height:200px; */
    /* width: 100%; */
    /* height: 100%; */
    border-radius: 50%;
    background: conic-gradient(var(--correct) 0% 80% ,var(--error) 80% 100%);
}

.overview .pie-text {
    display: flex;
    gap: 10px;
    padding-top: 10px;
    flex-wrap: wrap;
}

.correct-box,
.wrong-box {
    width: 15px;
    height: 15px;
    background: var(--correct);
    border-radius: 3px
}

.wrong-box {
    background-color: var(--error);
}