/* Light Mode */
:root {
  --bg-color: #e6eeff;
  --card: white;
  --text-black: black;
  --text-white: white;
  --text-gray: gray;
  --border: lightgray;
  --primary: #155dfc;
  --secondary: #1447e6;
  --error: #dc2626;
}

/* Dark Mode */
[data-theme="dark"] {
  --bg-color: #0f0f10;
  --card: #1a1a1c;
  --text-black: #f5f5f5;
  --text-white: #0f0f10;
  --text-gray: #a1a1aa;
  --border: #2a2a2e;
  --primary: #155dfc;
  --secondary: #1447e6;
  --error: #f87171;
}

/* Body */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Div / Card */
.card-bg {
  background-color: var(--card);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.4s;
}

/* Muted text */
/* .text-muted {
  color: (var(--text-color) / 0.6);
} */

/* Back button */
.back-btn {
  /* background-color: (var(--body-bg)); */
  color: var(--text-color);
  border: 1px solid var(--text-color / 0.2);
  transition: background-color 0.2s;
}

.back-btn:hover {
  background-color: var(--hover-bg);
}